{
  "parserOptions": {
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "node": true,
    "screeps/screeps": true
  },

  "plugins": ["screeps"],

  "rules": {
    "no-var":"error"
  },

    "extends": "semistandard"

}
